<!DOCTYPE html>

<html>

<head>
    <title>Employee Information CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-info">
    <div class="row">
        <div class="col-md-6 offset-md-1" style="background-color: #fff;margin-top: 50px;padding:8px;">
            {{{body}}}
        </div>
    </div>

</body>

</html>